h1{
    color: red;
    background-color: beige;
}

p{
    background-color: black;
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    background-color: brown;
    color: white;
    padding: 10px;
    font-size: 1.25em;
    text-decoration: none;
}